.about_boxes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    text-align: center;
    margin: auto;
}

.about_box {
    /* background-color: #8DA7BE40; */
    background-color: var(--cardMediumColor);
    border: 2px solid var(--complColor);
    color: var(--textColor);
    margin: 5px 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex: 1;
}

.about_box_box img {
    width: 60%;
    height: auto;
    margin: auto;
    border: 1px solid var(--textColor);
}

.about_text h5 {
    font-size: calc(1.25rem * var(--fontFactor_Mobile) * 0.8);
}

.about_text2 {
    display: none;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    .about_box_box img {
        width: 50%;
        height: auto;
        margin: auto;
    }

    .about_box {
        margin: 5px 0;
    }

    .about_text h5 {
        font-size: calc(1.25rem * var(--fontFactor_SmallMobile) * 0.75);
    }
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {

    /* Changing orientation of boxes */
    .about_boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;   
    }

    /* Changing orientation of content of boxes */
    .about_box {
        flex-direction: column;
        margin: 0 10px;
        padding: 5px;
        flex: 1;
    }

    .about_box_box h5 {
        margin: 10px;
        padding: 0px;
        font-size: calc(1.25rem * var(--fontFactor_RotTablet));
    }

    .about_box_box img {
        width: 60%;
        height: auto;
        margin: auto;
    }

    .about_text2 {
        display: inline;
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {

    /* Changing orientation of boxes */
    .about_boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;
    }

    /* Changing orientation of content of boxes */
    .about_box {
        flex-direction: column;
        margin: 0 5px;
        padding: 5px;
        flex: 1;
    }

    .about_box_box h5 {
        margin: 10px;
        padding: 0px;
        font-size: calc(1.25rem * var(--fontFactor_Tablet) * 0.9);
    }

    .about_box_box img {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .about_text2 {
        display: inline;
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Adding background color */
    /* #about {
        background-color: cornflowerblue;
    } */

    /* Changing orientation of boxes */
    .about_boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;   
    }

    /* Changing orientation of content of boxes */
    .about_box {
        flex-direction: column;
        margin: 0 10px;
        padding: 8px;
        flex: 1;
    }

    .about_box_box h5 {
        margin: 10px 0px;
        padding: 0px;
        font-size: calc(1.25rem * var(--fontFactor_SmallDesktop));
    }

    .about_box_box img {
        width: 75%;
        height: auto;
        margin: auto;
    }

    .about_text2 {
        display: inline;
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Adding background color */
    /* #about {
        background-color: cornflowerblue;
    } */

    /* Changing orientation of boxes */
    .about_boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;   
    }

    /* Changing orientation of content of boxes */
    .about_box {
        flex-direction: column;
        margin: 0 10px;
        padding: 10px;
        flex: 1;
    }

    .about_box_box h5 {
        margin: 10px 0px;
        padding: 0px;
        font-size: calc(1.25rem * var(--fontFactor_Desktop));
    }

    .about_box_box img {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .about_text2 {
        display: inline;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    /* Changing orientation of boxes */
    .about_boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 100%;  
    }

    /* Changing orientation of content of boxes */
    .about_box {
        flex-direction: column;
        margin: 0 10px;
        padding: 3px;
        flex: 1;
    }

    .about_box_box h5 {
        margin: 5px;
        padding: 0px;
        font-size: calc(1.25rem * var(--fontFactor_RotMobile) * 0.75) !important;
    }

    .about_box_box img {
        width: 50%;
        height: auto;
        margin: auto;
    }

    /* .about_text2 {
        display: inline;
    } */
}