#achievements_content {
    width: 100%;
}

.achievements_info h4 {
    color: var(--textColor)
}

.achievements_boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.achievement_box {
    background-color: var(--cardMediumColor);
    color: var(--textColor);
    margin: 5px auto;
    width: 100%;
}

.achievement_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.achievement_title {
    width: 25%;
    color: var(--complColor);
}

.achievement_name {
    width: 60%;
    font-weight: bold;
}

.achievement_image {
    display: none;
}

.achievement_name {
    padding: 0 5px;
    margin: 10px 0;
}

.achievement_title, .achievement_button {
    margin: 0 10px;
}

.achievement_button {
    width: 15%;
}

.achievement_button p {
    padding: 3px;
    font-size: 0.6rem;
    background-color: var(--buttonColor);
    border: 1px solid var(--bgColor);
    border-radius: 5px;
    font-weight: bold;
}

.achievement_button {
    text-decoration: none;
    color: var(--bgColor);
}

.achievement_buttons, .achievement_button2 {
    display: none;
}


/* Tablets / IPads / Squarer Phones */
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-height: 500px) {
    .achievements_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .achievement_box {
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
        margin: 10px auto;
        border: 1px solid var(--complColor);
    }

    .achievement_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex: 1;
    }

    .achievement_image {
        display: block;
        flex: 1;
    }

    .achievement_image img {
        width: 100%;
        height: auto;
    }

    .achievement_name {
        padding: 5px 5px;
        margin: 0;
    }
    
    .achievement_title, .achievement_button {
        padding: 2px 5px;
        margin: 0;
    }

    .achievement_title, .achievement_name, .achievement_buttons {
        width: 100% !important;
    }

    .achievement_button {
        display: none;
    }

    .achievement_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .achievement_button2 {
        display: inline-block;
        margin: 5px auto;
    }
    
    .achievement_button2 {
        background-color: var(--buttonColor);
        text-decoration: none;
        color: var(--bgColor);
        border: 1px solid var(--bgColor);
        border-radius: 5px;
    }

    .achievement_button2 p {
        padding: 3px;
        margin: 0;
    }
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Adding background color */
    /* #achievements    {
        background-color: goldenrod;
    } */

    .achievements_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .achievement_box {
        border: 1px solid var(--complColor);
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
        margin: 10px auto;
    }

    .achievement_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex: 1;
    }

    .achievement_image {
        display: block;
        flex: 1;
    }

    .achievement_image img {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .achievement_name {
        padding: 5px 5px;
        margin: 0;
    }

    .achievement_title, .achievement_name, .achievement_buttons {
        width: 100% !important;
    }
    
    .achievement_title, .achievement_button {
        padding: 2px 5px;
        margin: 0;
    }

    .achievement_button {
        display: none;
    }

    .achievement_buttons {
        display: flex;
        flex-direction: row;
        width: 70% !important;
        justify-content: center;
        align-items: center;
    }

    .achievement_button2 {
        display: inline-block;
        margin: 5px auto;
    }
    
    .achievement_button2 {
        background-color: var(--buttonColor);
        text-decoration: none;
        color: var(--bgColor);
        border: 1px solid var(--bgColor);
        border-radius: 5px;
    }

    .achievement_button2 p {
        padding: 3px;
        margin: 0;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    #achievements {
        width: 60%;
    }

    .achievement_title, .achievement_button {
        margin: 0 5px;
    }
    
    .achievement_button p {
        padding: 3px;
        margin: 2px 0;
        font-size: 0.4rem;
    }

    .achievement_name {
        margin: 10px auto;
    }
}