.experience_timeline {
    padding: 1px 0;
    border-left: 2px solid var(--complColor);
}

.timeline_point {
    background-color: var(--cardDarkColor);
    color: var(--textColor);
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.timeline_info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.timeline_circle {
    margin-left: -8px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--complColor);
    border-radius: 50%;
    background-color: black;
}

.timeline_date {
    height: 100%;
    margin: auto 0;
    padding-left: 10px;
}

.timeline_text {
    display: block;
}

.timeline_duration {
    margin: auto 0;
    padding-right: 10px;
}

.timeline_title {
    font-weight: bold;
}

.timeline_descr {
    display: none;
}


/* Tablets / IPads */
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-height: 500px) {
    .timeline_point {
        margin: 20px 0;
    }

    .timeline_descr {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Adding background color */
    /* #experience {
        background-color: cadetblue;
    } */

    .timeline_point {
        margin: 20px 0;
    }

    .timeline_descr {
        display: block;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    #experience {
        width: 50%;
        margin: 0 auto;
    }

    .timeline_point {
        margin: 10px 0;
    }
}