.experience_timeline {
    padding: 1px 0;
    border-left: 2px solid var(--complColor);
    display: flex;
    flex-direction: column;
}

.timeline_point {
    background-color: var(--cardDarkColor);
    color: var(--textColor);
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.timeline_info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.timeline_circle {
    margin-left: -8px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--complColor);
    border-radius: 50%;
    background-color: black;
}

.timeline_date {
    margin: auto 0;
    padding-left: 10px;
}

.timeline_text {
    display: flex;
    flex-direction: column;
}

.timeline_duration {
    margin: auto 0;
    padding-right: 10px;
}

.timeline_title h5 {
    height: 100%;
    font-weight: bold;
    padding: 15px 0 10px 0;
    margin: 0;
}

.timeline_descr {
    display: none;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    .timeline_title h5 {
        padding: 15px 0 10px 0;
    }

    .timeline_point {
        margin: 10px 0;
    }
}

/* Rotated Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 999px) {
    .timeline_point {
        margin: 20px 0;
    }

    .timeline_descr {
        display: block;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-height: 1000px) {
    .timeline_point {
        margin: 20px 0;
    }

    .timeline_descr {
        display: block;
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Adding background color */
    /* #experience {
        background-color: cadetblue;
    } */

    .timeline_point {
        margin: 10px 0;
    }

    .timeline_descr {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Adding background color */
    /* #experience {
        background-color: cadetblue;
    } */

    .timeline_title h5 {
        padding: 20px 0 0 0;
    }

    .timeline_point {
        margin: 15px 0;
    }

    .timeline_descr {
        display: block;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    #experience {
        width: 50%;
        margin: 0 auto;
    }

    .timeline_point {
        margin: 5px 0;
    }

    .timeline_title h5 {
        padding: 10px 0 5px 0;
    }
}