#footer {
    height: 10vh;
    content: ' ';
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Disabling footer because no extra space is required at the bottom */
    #footer {
        height: 0;
        content: '';
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Disabling footer because no extra space is required at the bottom */
    #footer {
        height: 0;
        content: '';
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
}