#footer {
    height: 10vh;
    content: ' ';
}

/* Tablets / IPads */
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-height: 500px) {
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Disabling footer because no extra space is required at the bottom */
    #footer {
        height: 0;
        content: '';
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
}