#frontpage {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    flex: 1;
}

#frontpage_content {
    height: 68vh;
    text-align: center;
}

#frontpage_img {
    width: 60%;
    margin: 0 auto;
}

#frontpage_img img {
    width: 100%;
    height: auto;
    border: 5px solid yellowgreen;
    border-radius: 50%;
}

#frontpage_text {
    padding-top: 35px;
}

#frontpage_text h1 {
    font-size: 2.5rem;
    margin: 0;
}

#frontpage_text h2 {
    font-size: 1.5rem;
    margin: 0;
}

/* Tablets / IPads */
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-height: 500px) {
    /* Reducing width of content area */
    #frontpage_img {
        width: 40%;
    }

    #frontpage_text h1 {
        font-size: 3rem;
    }

    #frontpage_text h2 {
        font-size: 1.875rem;
    }
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Reducing width of content area */
    /* Increasing height of content area because of no extra space below */
    #frontpage_content {
        height: 78vh;
    }

    #frontpage_img {
        width: 40%;
    }

    /* Fitting frontpage to entire height */
    /* Changing color of backgrounds which appear on the sides */
    #frontpage {
        height: 100vh;
        background-color: bisque;
    }

    #frontpage_text h1 {
        font-size: 3rem;
    }

    #frontpage_text h2 {
        font-size: 1.875rem;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    /* Reducing width of content area */
    #frontpage_img {
        width: 100%;
    }

    #frontpage_img img {
        width: 20%;
        margin: auto;
    }

    /* Reducing font sizes */
    #frontpage_text h1 {
        font-size: 1.5rem;
    }
    #frontpage_text h2 {
        font-size: 1.1rem;
    }

    #frontpage_text {
        padding-top: 20px;
    }
}