#frontpage {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    flex: 1;
}

#frontpage_content {
    width: 60%;
    height: 68vh;
    text-align: center;
}

#frontpage_img img {
    width: 100%;
    height: auto;
    border: 5px solid yellowgreen;
    border-radius: 50%;
}

/* Tablets / IPads */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    /* Reducing width of content area */
    #frontpage_content {
        width: 40%;
    }
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Reducing width of content area */
    /* Increasing height of content area because of no extra space below */
    #frontpage_content {
        width: 25%;
        height: 78vh;
    }

    /* Fitting frontpage to entire height */
    /* Changing color of backgrounds which appear on the sides */
    #frontpage {
        height: 100vh;
        background-color: bisque;
    }
}

/* Rotated mobile */
@media screen and (max-height: 500px) {
    /* Reducing width of content area */
    #frontpage_content {
        width: 100%;
    }

    #frontpage_img img {
        width: 20%;
        margin: auto;
    }

    /* Reducing font sizes */
    #frontpage h1 {
        font-size: 1.25rem;
    }
    #frontpage h2 {
        font-size: 1rem;
    }
}