#projects_content {
    width: 100%;
}

.projects_boxes {
    display: flex;
    flex-direction: column;
}

.project_box {
    background-color: lightskyblue;
    flex: 1;
    margin: 10px 0;
}

.project_box:nth-of-type(5), .project_box:nth-of-type(6) {
    display: none;
}

.project_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_image {
    display: none;
}

.project_title {
    margin: 0 5px;
    font-weight: bold;
}

.project_descr {
    margin: 0 5px;
}

.project_buttons {
    margin: 0 5px;
}

.project_button {
    text-decoration: none;
    color: black;
}

.project_button p {
    background-color: lime;
    border: 1px solid black;
    padding: 2px;
}

.project_extra_button {
    display: none;
}

/* Tablets / IPads / Squarer Phones */
@media screen and (min-width: 768px) and (max-width: 1200px) {
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Adding background color */
    #projects {
        background-color: lightcoral;
    }

    .project_box:nth-of-type(5), .project_box:nth-of-type(6) {
        display: flex;
    }

    .projects_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project_box {
        flex-direction: column;
        margin: 10px 10px;
        flex: 1;
        min-width: 30%;
    }

    .project_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .project_button {
        margin: 0 10px;
    }

    .project_image {
        display: block;
        flex: 1;
    }

    .project_image img {
        width: 75%;
        height: auto;
        margin: 5px auto;
    }

    .project_text {
        display: inline-block;
        width: 100%;
        flex: 1;
    }

    .project_extra_button {
        display: block;
    }

    .project_extra_button {
        text-decoration: none;
        color: black;
    }
    
    .project_extra_button p {
        background-color: lime;
        border: 1px solid black;
        padding: 2px;
    }
}

/* Rotated mobile */
@media screen and (max-height: 500px) {
}