.scroll_button {
    width: 34px;
    height: 34px;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom left, #D8FDF7, #D8FDF7, #4F5B69, #738396, #c5ccd3);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.scroll_button_2 {
    display: none;
}

/* Tablets / IPads */
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-height: 500px) {
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Disabling scroll to top of page */
    .scroll_button {
        display: none;
    }

    /* Enabling scroll to top of content */
    .scroll_button_2 {
        display: inline;
        width: 34px;
        height: 34px;
        border-bottom: 10px solid black;
        border-left: 10px solid black;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to bottom left, #D8FDF7, #D8FDF7, #4F5B69, #738396, #c5ccd3);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    .scroll_button {
        width: 17px;
        height: 17px;
        border-bottom: 5px solid black;
        border-left: 5px solid black;
        border-width: 2px;
    }
}