.skills_boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill_box {
    flex: 1;
    background-color:cyan;
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}

.skill_name, .skill_other_name {
    font-weight: bold;
}

.skill_detail1, .skill_detail2, .skills_others, .skills_heading2 {
    display: none;
}


/* Tablets / IPads */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .skills_boxes {
        flex-direction: row;
    }

    .skill_box {
        width: 30%;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_info1, .skill_info2 {
        display: none;
    }

    .skill_detail1, .skill_detail2, .skills_others, .skills_heading {
        display: block;
    }

    .skills_others_boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .skill_other_box {
        background-color: cyan;
        flex: 1;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_other_text {
        display: inline-block;
    }
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Adding background color */
    #skills {
        background-color: darkkhaki;
    }

    .skills_boxes {
        flex-direction: row;
    }

    .skill_box {
        width: 30%;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_info1, .skill_info2 {
        display: none;
    }

    .skill_detail1, .skill_detail2, .skills_others, .skills_heading {
        display: block;
    }

    .skills_others_boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .skill_other_box {
        background-color: cyan;
        flex: 1;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_other_text {
        display: inline-block;
    }
}

/* Rotated mobile */
@media screen and (max-height: 500px) {
    .skills_boxes {
        flex-direction: row;
    }

    .skill_box {
        width: 30%;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_info1, .skill_info2 {
        display: none;
    }

    .skill_detail1, .skill_detail2, .skills_heading2 {
        display: block;
    }

    #skills p {
        font-size: 0.5rem;
    }
}