.skills_boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.skill_box {
    flex: 1;
    background-color: var(--cardMediumColor);
    color: var(--textColor);
    border: 2px solid var(--complColor);
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}

.skill_name, .skill_other_name {
    font-weight: bold;
}

.skill_detail1, .skill_detail2, .skills_others, .skills_heading2 {
    display: none;
}


/* Tablets / IPads */
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-height: 500px) {
    .skills_boxes {
        flex-direction: row;
    }

    .skill_box {
        width: 30%;
        margin: 0 10px;
        padding: 10px;
    }

    .skills_others, .skills_heading2 {
        display: block;
    }

    .skills_others_boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .skill_other_box {
        background-color: var(--cardMediumColor);
        border: 2px solid var(--complColor);
        color: var(--textColor);
        flex: 1;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_other_text {
        display: inline-block;
    }

    .skills_heading2, .skills_others h3 {
        color: var(--textColor);
    }
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Adding background color */
    /* #skills {
        background-color: darkkhaki;
    } */

    .skills_heading2, .skills_others h3 {
        color: var(--textColor);
    }

    .skills_boxes {
        flex-direction: row;
    }

    .skill_box {
        width: 30%;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_info1, .skill_info2 {
        display: none;
    }

    .skill_detail1, .skill_detail2, .skills_others, .skills_heading2 {
        display: block;
    }

    .skills_others_boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .skill_other_box {
        background-color: var(--cardMediumColor);
        border: 2px solid var(--complColor);
        color: var(--textColor);
        flex: 1;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_other_text {
        display: inline-block;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    .skills_boxes {
        flex-direction: row;
    }

    .skill_box {
        width: 30%;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_info1, .skill_info2 {
        display: none;
    }

    .skill_detail1, .skill_detail2, .skills_heading2 {
        display: block;
    }

    #skills p {
        font-size: 0.5rem;
    }

    .skills_heading2, .skills_others h3 {
        color: var(--textColor);
    }
}