@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --complColor: #09C39E;
    --bgColor: #292f36;
    --textColor: #CDE6F5;
    --cardMediumColor: #8DA7BE40;
    --cardDarkColor: #99CBEB20;
    --buttonColor: #88C3E7;

    --fontFactor_Mobile: 0.7;
    --fontFactor_SmallMobile: 0.65;
    --fontFactor_RotTablet: 1.25;
    --fontFactor_Tablet: 1.5;
    --fontFactor_SmallDesktop: 0.8;
    --fontFactor_Desktop: 0.9;
    --fontFactor_RotMobile: 0.6;
}

/* Style is assumed for width<768 and height>768 */

a {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: auto;
    background-color: var(--bgColor);
    color: var(--complColor);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--bgColor);
    box-shadow: 30px 0px 40px 30px rgba(0, 0, 0, 0.2),
    -30px 0px 40px 30px rgba(0, 0, 0, 0.2);
}

img {
    display: block;
}

.page {
    padding-top: 10vh;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Reducing font sizes */
.page h1 {
    font-size: calc(2.5rem * var(--fontFactor_Mobile));
}
.page h2 {
    font-size: calc(2rem * var(--fontFactor_Mobile));
}
.page h3 {
    font-size: calc(1.75rem * var(--fontFactor_Mobile));
}
.page h4 {
    font-size: calc(1.5rem * var(--fontFactor_Mobile));
}
.page h5 {
    font-size: calc(1.25rem * var(--fontFactor_Mobile));
}
.page p {
    font-size: calc(1rem * var(--fontFactor_Mobile));
}

.page_content {
    width: 90%;
    height: 78vh;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_SmallMobile));
    }
    .page h2 {
        font-size: calc(2rem * var(--fontFactor_SmallMobile));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_SmallMobile));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_SmallMobile));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_SmallMobile));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_SmallMobile));
    }

    .page_content {
        width: 90%;
        height: 78vh;
    }
}

/* Rotated Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 999px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_RotTablet));
    }
    .page h2 {
        font-size: calc(2rem * var(--fontFactor_RotTablet));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_RotTablet));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_RotTablet));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_RotTablet));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_RotTablet));
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-height: 1000px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_Tablet));
    }
    .page h2 {
        font-size: calc(2rem * var(--fontFactor_Tablet));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_Tablet));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_Tablet));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_Tablet));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_Tablet));
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Fitting pages to entire height */
    /* Removing padding at the top since no extra space is required at the bottom */
    .page {
        height: 100vh;
        padding-top: 0vh !important;
    }

    main {
        max-width: 1000px;
    }

    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_SmallDesktop));
    }
    .page h2 {
        font-size: calc(2rem * var(--fontFactor_SmallDesktop));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_SmallDesktop));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_SmallDesktop));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_SmallDesktop));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_SmallDesktop));
    }

    body {
        background-color: #bbbbbb;
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Fitting pages to entire height */
    /* Removing padding at the top since no extra space is required at the bottom */
    .page {
        height: 100vh;
        padding-top: 0vh !important;
    }

    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_Desktop));
    }
    .page h2 {
        font-size: calc(2rem * var(--fontFactor_Desktop));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_Desktop));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_Desktop));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_Desktop));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_Desktop));
    }

    body {
        background-color: #bbbbbb;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_RotMobile));
    }
    .page h2 {
        font-size: calc(2rem * var(--fontFactor_RotMobile));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_RotMobile));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_RotMobile));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_RotMobile));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_RotMobile));
    }

    .page {
        width: 100%;
        margin: auto;
    }
}