@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Style is assumed for width<768 and height>768 */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: auto;
    background-color:darkgray;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

img {
    display: block;
}

.page {
    padding-top: 10vh;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.page_content {
    width: 90%;
    height: 78vh;
}

/* Tablets / IPads */
@media screen and (min-width: 768px) and (max-width: 1200px) {
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Fitting pages to entire height */
    /* Removing padding at the top since no extra space is required at the bottom */
    .page {
        height: 100vh;
        padding-top: 0vh !important;
    }
}

/* Rotated mobile */
@media screen and (max-height: 500px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: 1rem;
    }
    .page h2 {
        font-size: 0.85rem;
    }
    .page h3 {
        font-size: 0.7rem;
    }
    .page p {
        font-size: 0.5rem;
    }
}