@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Style is assumed for width<768 and height>768 */

a {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: auto;
    background-color:darkgray;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
}

.page {
    padding-top: 10vh;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

/* Reducing font sizes */
.page h1 {
    font-size: 2rem;
}
.page h2 {
    font-size: 1.5rem;
}
.page h3 {
    font-size: 1.17rem;
}
.page h4 {
    font-size: 1rem;
}
.page h5 {
    font-size: 0.83rem;
}
.page p {
    font-size: 0.75rem;
}

.page_content {
    width: 90%;
    height: 78vh;
}

/* Tablets / IPads */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: 2.5rem;
    }
    .page h2 {
        font-size: 1.875rem;
    }
    .page h3 {
        font-size: 1.45rem;
    }
    .page h4 {
        font-size: 1.25rem;
    }
    .page h5 {
        font-size: 1rem;
    }
    .page p {
        font-size: 0.935rem;
    }
}

/* Desktop */
@media screen and (min-width:1200px) {
    /* Fitting pages to entire height */
    /* Removing padding at the top since no extra space is required at the bottom */
    .page {
        height: 100vh;
        padding-top: 0vh !important;
    }

    /* Reducing font sizes */
    .page h1 {
        font-size: 2.5rem;
    }
    .page h2 {
        font-size: 1.875rem;
    }
    .page h3 {
        font-size: 1.45rem;
    }
    .page h4 {
        font-size: 1.25rem;
    }
    .page h5 {
        font-size: 1rem;
    }
    .page p {
        font-size: 0.935rem;
    }
}

/* Rotated mobile */
@media screen and (max-height: 500px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: 1.25rem;
    }
    .page h2 {
        font-size: 1.1rem;
    }
    .page h3 {
        font-size: 0.9rem;
    }
    .page h4 {
        font-size: 0.75rem;
    }
    .page h5 {
        font-size: 0.6rem;
    }
    .page p {
        font-size: 0.4rem;
    }

    .page {
        width: 100%;
        margin: auto;
    }
}