/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --complColor: #09C39E;
    --complLightColor: #0BEABD;
    --bgColor: #292f36;
    --textColor: #CDE6F5;
    --cardMediumColor: #8DA7BE30;
    --cardDarkColor: #99CBEB17;
    --buttonColor: #88C3E7;

    --fontFactor_Mobile: 0.7;
    --fontFactor_SmallMobile: 0.65;
    --fontFactor_RotTablet: 0.7;
    --fontFactor_Tablet: 0.75;
    --fontFactor_SmallDesktop: 0.8;
    --fontFactor_Desktop: 0.9;
    --fontFactor_RotMobile: 0.6;
}

/* Style is assumed for width<768 and height>768 */

a {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: auto;
    background-color: var(--bgColor);
    color: var(--complColor);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--bgColor);
    box-shadow: 30px 0px 40px 30px rgba(0, 0, 0, 0.2),
    -30px 0px 40px 30px rgba(0, 0, 0, 0.2);
}

img {
    display: block;
}

.page {
    padding-top: 10vh;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Reducing font sizes */
.page h1 {
    font-size: calc(2.5rem * var(--fontFactor_Mobile));
}
.page h2 {
    font-size: calc(2rem * var(--fontFactor_Mobile));
}
.page h3 {
    font-size: calc(1.75rem * var(--fontFactor_Mobile));
}
.page h4 {
    font-size: calc(1.5rem * var(--fontFactor_Mobile));
}
.page h5 {
    font-size: calc(1.25rem * var(--fontFactor_Mobile));
}
.page p {
    font-size: calc(1rem * var(--fontFactor_Mobile));
}

.page_content {
    width: 90%;
    height: 78vh;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_SmallMobile));
    }
    .page h2 {
        font-size: calc(2rem * var(--fontFactor_SmallMobile));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_SmallMobile));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_SmallMobile));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_SmallMobile));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_SmallMobile));
    }

    .page_content {
        width: 90%;
        height: 78vh;
    }
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_RotTablet));
    }
    .page h2 {
        font-size: calc(2rem * var(--fontFactor_RotTablet));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_RotTablet));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_RotTablet));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_RotTablet));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_RotTablet));
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_Tablet));
    }
    .page h2 {
        font-size: calc(2rem * var(--fontFactor_Tablet));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_Tablet));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_Tablet));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_Tablet));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_Tablet));
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Fitting pages to entire height */
    /* Removing padding at the top since no extra space is required at the bottom */
    .page {
        height: 100vh;
        padding-top: 0vh !important;
    }

    main {
        max-width: 1000px;
    }

    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_SmallDesktop));
    }
    .page h2 {
        font-size: calc(2.25rem * var(--fontFactor_SmallDesktop));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_SmallDesktop));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_SmallDesktop));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_SmallDesktop));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_SmallDesktop));
    }

    body {
        background-color: #bbbbbb;
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Fitting pages to entire height */
    /* Removing padding at the top since no extra space is required at the bottom */
    .page {
        height: 100vh;
        padding-top: 0vh !important;
    }

    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_Desktop));
    }
    .page h2 {
        font-size: calc(2.25rem * var(--fontFactor_Desktop));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_Desktop));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_Desktop));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_Desktop));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_Desktop));
    }

    body {
        background-color: #bbbbbb;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    /* Reducing font sizes */
    .page h1 {
        font-size: calc(2.5rem * var(--fontFactor_RotMobile));
    }
    .page h2 {
        font-size: calc(2rem * var(--fontFactor_RotMobile));
    }
    .page h3 {
        font-size: calc(1.75rem * var(--fontFactor_RotMobile));
    }
    .page h4 {
        font-size: calc(1.5rem * var(--fontFactor_RotMobile));
    }
    .page h5 {
        font-size: calc(1.25rem * var(--fontFactor_RotMobile));
    }
    .page p {
        font-size: calc(1rem * var(--fontFactor_RotMobile));
    }

    .page {
        width: 100%;
        margin: auto;
    }

    .page_content {
        height: 73vh;
    }
}













































/* scroll.css */

.scroll_button {
    width: 34px;
    height: 34px;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom left, #D8FDF7, #D8FDF7, #4F5B69, #738396, #c5ccd3);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
}

@-webkit-keyframes sdb07 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }
  @keyframes sdb07 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }

.scroll_button_2 {
    display: none;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    .scroll_button {
        width: 20px;
        height: 20px;
        border-bottom: 6px solid black;
        border-left: 6px solid black;
        border-width: 4px;
    }
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Disabling scroll to top of page */
    .scroll_button {
        display: none;
    }

    /* Enabling scroll to top of content */
    .scroll_button_2 {
        display: inline;
        width: 34px;
        height: 34px;
        border-bottom: 10px solid black;
        border-left: 10px solid black;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to bottom left, #D8FDF7, #D8FDF7, #4F5B69, #738396, #c5ccd3);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: sdb07 2s infinite;
    }

    @-webkit-keyframes sdb07 {
        0% {
          -webkit-transform: rotate(-45deg) translate(0, 0);
        }
        20% {
          -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
          -webkit-transform: rotate(-45deg) translate(0, 0);
        }
      }
      @keyframes sdb07 {
        0% {
          transform: rotate(-45deg) translate(0, 0);
        }
        20% {
          transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
          transform: rotate(-45deg) translate(0, 0);
        }
      }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Disabling scroll to top of page */
    .scroll_button {
        display: none;
    }

    /* Enabling scroll to top of content */
    .scroll_button_2 {
        display: inline;
        width: 34px;
        height: 34px;
        border-bottom: 10px solid black;
        border-left: 10px solid black;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to bottom left, #D8FDF7, #D8FDF7, #4F5B69, #738396, #c5ccd3);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: sdb07 2s infinite;
    }

    @-webkit-keyframes sdb07 {
        0% {
          -webkit-transform: rotate(-45deg) translate(0, 0);
        }
        20% {
          -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
          -webkit-transform: rotate(-45deg) translate(0, 0);
        }
      }
      @keyframes sdb07 {
        0% {
          transform: rotate(-45deg) translate(0, 0);
        }
        20% {
          transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
          transform: rotate(-45deg) translate(0, 0);
        }
      }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    .scroll_button {
        width: 17px;
        height: 17px;
        border-bottom: 4px solid black;
        border-left: 4px solid black;
        border-width: 2px;
    }
}


































/* frontpage.css */

#frontpage {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    flex: 1;
}

#frontpage_content {
    height: 68vh;
    text-align: center;
}

#frontpage_img {
    width: 50%;
    margin: 0 auto;
}

#frontpage_img img {
    width: 100%;
    height: auto;
    border: 5px solid var(--complColor);
    border-radius: 50%;
}

#frontpage_text {
    padding-top: 35px;
}

#frontpage_text h1 {
    font-size: 2.5rem;
    margin: 0;
}

#frontpage_text h2 {
    font-size: 1.5rem;
    margin: 0;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    #frontpage_img {
        width: 50%;
    }
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {
    /* Reducing width of content area */
    #frontpage_img {
        width: 25%;
    }

    #frontpage_text h1 {
        font-size: 2.25rem;
    }

    #frontpage_text h2 {
        font-size: 1.5rem;
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {
    /* Reducing width of content area */
    #frontpage_img {
        width: 35%;
    }

    #frontpage_text h1 {
        font-size: 3rem;
    }

    #frontpage_text h2 {
        font-size: 1.875rem;
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Reducing width of content area */
    /* Increasing height of content area because of no extra space below */
    #frontpage_content {
        height: 78vh;
    }

    #frontpage_img {
        width: 30%;
    }

    /* Fitting frontpage to entire height */
    /* Changing color of backgrounds which appear on the sides */
    #frontpage {
        height: 100vh;
        /* background-color: bisque; */
    }

    #frontpage_text h1 {
        font-size: 3rem;
    }

    #frontpage_text h2 {
        font-size: 1.875rem;
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Reducing width of content area */
    /* Increasing height of content area because of no extra space below */
    #frontpage_content {
        height: 78vh;
    }

    #frontpage_img {
        width: 30%;
    }

    /* Fitting frontpage to entire height */
    /* Changing color of backgrounds which appear on the sides */
    #frontpage {
        height: 100vh;
        /* background-color: bisque; */
    }

    #frontpage_text h1 {
        font-size: calc(2.5rem * var(--fontFactor_Desktop) * 1.5);
    }

    #frontpage_text h2 {
        font-size: calc(2rem * var(--fontFactor_Desktop) * 1.1);
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    /* Reducing width of content area */
    #frontpage_img {
        width: 75%;
    }

    #frontpage_img img {
        width: 20%;
        margin: auto;
    }

    /* Reducing font sizes */
    #frontpage_text h1 {
        font-size: 1.5rem;
    }
    #frontpage_text h2 {
        font-size: 1.1rem;
    }

    #frontpage_text {
        padding-top: 20px;
    }

    #frontpage_content {
        height: 63vh;
    }
}

































/* about.css */

.about_boxes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    text-align: center;
    margin: auto;
}

.about_box {
    background-color: var(--cardMediumColor);
    /* border: 1px solid var(--complColor); */
    color: var(--textColor);
    margin: 5px 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex: 1;
}

.about_box_box img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    border: 1px solid var(--complColor);
    padding: 2px;
}

.about_text h5 {
    font-size: calc(1.25rem * var(--fontFactor_Mobile) * 0.8);
}

.about_text2 {
    display: none;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    .about_box_box img {
        width: 50%;
        height: auto;
        margin: auto;
    }

    .about_box {
        margin: 5px 0;
    }

    .about_text h5 {
        font-size: calc(1.25rem * var(--fontFactor_SmallMobile) * 0.75);
    }
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {

    /* Changing orientation of boxes */
    .about_boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;   
    }

    /* Changing orientation of content of boxes */
    .about_box {
        flex-direction: column;
        margin: 0 10px;
        padding: 5px;
        flex: 1;
    }

    .about_box_box h5 {
        margin: 10px;
        padding: 0px;
        font-size: calc(1.25rem * var(--fontFactor_RotTablet));
    }

    .about_box_box img {
        width: 60%;
        height: auto;
        margin: auto;
    }

    .about_text2 {
        display: inline;
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {

    /* Changing orientation of boxes */
    .about_boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;
    }

    /* Changing orientation of content of boxes */
    .about_box {
        flex-direction: column;
        margin: 0 5px;
        padding: 5px;
        flex: 1;
    }

    .about_box_box h5 {
        margin: 10px;
        padding: 0px;
        font-size: calc(1.25rem * var(--fontFactor_Tablet) * 0.9);
    }

    .about_box_box img {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .about_text2 {
        display: inline;
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Adding background color */
    /* #about {
        background-color: cornflowerblue;
    } */

    /* Changing orientation of boxes */
    .about_boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;   
    }

    /* Changing orientation of content of boxes */
    .about_box {
        flex-direction: column;
        margin: 0 10px;
        padding: 8px;
        flex: 1;
    }

    .about_box_box h5 {
        margin: 10px 0px;
        padding: 0px;
        font-size: calc(1.25rem * var(--fontFactor_SmallDesktop));
    }

    .about_box_box img {
        width: 75%;
        height: auto;
        margin: auto;
    }

    .about_text2 {
        display: inline;
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Adding background color */
    /* #about {
        background-color: cornflowerblue;
    } */

    /* Changing orientation of boxes */
    .about_boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;   
    }

    /* Changing orientation of content of boxes */
    .about_box {
        flex-direction: column;
        margin: 0 10px;
        padding: 10px;
        flex: 1;
    }

    .about_box_box h5 {
        margin: 10px 0px;
        padding: 0px;
        font-size: calc(1.25rem * var(--fontFactor_Desktop));
    }

    .about_box_box img {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .about_text2 {
        display: inline;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    /* Changing orientation of boxes */
    .about_boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 100%;  
    }

    /* Changing orientation of content of boxes */
    .about_box {
        flex-direction: column;
        margin: 0 10px;
        padding: 3px;
        flex: 1;
    }

    .about_box_box h5 {
        margin: 5px;
        padding: 0px;
        font-size: calc(1.25rem * var(--fontFactor_RotMobile) * 0.75) !important;
    }

    .about_box_box img {
        width: 50%;
        height: auto;
        margin: auto;
        border: none;
    }

    /* .about_text2 {
        display: inline;
    } */
}






























/* experience.css */

.experience_timeline {
    padding: 1px 0;
    border-left: 2px solid var(--complColor);
    display: flex;
    flex-direction: column;
}

.timeline_point {
    background-color: var(--cardDarkColor);
    color: var(--textColor);
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.timeline_info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.timeline_circle {
    margin-left: -8px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--complColor);
    border-radius: 50%;
    background-color: black;
}

.timeline_date {
    text-align: left;
    margin: auto 0;
    padding-left: 10px;
}

.timeline_text {
    display: flex;
    flex-direction: column;
}

.timeline_duration {
    text-align: right;
    margin: auto 0;
    padding-right: 10px;
}

.timeline_title h5 {
    height: 100%;
    font-weight: bold;
    padding: 15px 0 10px 0;
    margin: 0;
}

.timeline_descr {
    display: none;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    .timeline_title h5 {
        padding: 15px 0 10px 0;
    }

    .timeline_point {
        margin: 10px 0;
    }
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {
    .timeline_point {
        margin: 10px 0;
    }

    .timeline_descr {
        display: block;
    }

    .timeline_title h5 {
        font-size: calc(1.25rem * var(--fontFactor_RotTablet) * 0.8);
    }

    .timeline_descr p {
        font-size: calc(1rem * var(--fontFactor_RotTablet) * 0.8);
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {
    .timeline_point {
        margin: 20px 0;
    }

    .timeline_descr {
        display: block;
    }
    
    .timeline_text {
        width: 75%;
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Adding background color */
    /* #experience {
        background-color: cadetblue;
    } */

    .timeline_point {
        margin: 10px 0;
    }

    .timeline_descr {
        display: block;
    }

    .timeline_date {
        width: 10%;
    }

    .timeline_text {
        width: 75%;
    }

    .timeline_duration {
        width: 15%;
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Adding background color */
    /* #experience {
        background-color: cadetblue;
    } */

    .timeline_title h5 {
        padding: 20px 0 0 0;
    }

    .timeline_point {
        margin: 15px 0;
    }

    .timeline_descr {
        display: block;
    }

    .timeline_date {
        width: 10%;
    }

    .timeline_text {
        width: 75%;
    }

    .timeline_duration {
        width: 15%;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    #experience {
        width: 70%;
        margin: 0 auto;
    }

    .timeline_point {
        margin: 5px 0;
    }

    .timeline_title h5 {
        padding: 10px 0 5px 0;
    }

    .timeline_info p {
        font-size: calc(1rem * var(--fontFactor_RotMobile) * 0.75);
    }

    .timeline_title h5 {
        font-size: calc(1.25rem * var(--fontFactor_RotMobile) * 0.75);
    }
}





































/* skills.css */

.skills_boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.skill_box {
    flex: 1;
    background-color: var(--cardMediumColor);
    color: var(--textColor);
    /* border: 2px solid var(--complColor); */
    border: none;
    display: inline-block;
    margin: 5px 0;
    width: 100%;
}

.skill_box p:nth-child(n+2) {
    font-size: calc(1rem * var(--fontFactor_Mobile) * 1);
}

.skill_box p, .skill_other_box p {
    margin: 0;
    padding: 5px;
}

.skill_name, .skill_other_name {
    font-weight: bold;
    color: var(--complColor);
    font-size: calc(1rem * var(--fontFactor_Mobile) * 1.25) !important;
}

.skill_detail1, .skill_detail2, .skills_others, .skills_heading2 {
    display: none;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    .skill_box p:nth-child(n+2) {
        font-size: calc(1rem * var(--fontFactor_SmallMobile) * 1);
    }

    .skill_box {
        margin: 5px 0;
        border: none;
    }

    .skill_name {
        font-size: calc(1rem * var(--fontFactor_SmallMobile) * 1.25) !important;
    }
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {
    .skills_boxes {
        flex-direction: row;
    }

    .skills_heading {
        margin: 0;
        padding: 0;
    }
    
    .skill_box {
        width: 30%;
        margin: 0 5px;
        padding: 3px;
    }

    .skills_others, .skills_heading2 {
        display: block;
    }

    .skills_others_boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        width: 80%;
        margin: 0 auto;
    }

    .skill_other_box {
        background-color: var(--cardMediumColor);
        /* border: 2px solid var(--complColor); */
        border: none;
        color: var(--textColor);
        flex: 1;
        margin: 0 5px;
        padding: 3px;
    }

    .skill_other_text {
        display: inline-block;
    }

    .skills_heading2, .skills_others h3 {
        color: var(--textColor);
        margin: 30px 0 10px 0;
    }

    .skill_box p:nth-child(n+2) {
        font-size: calc(1rem * var(--fontFactor_RotTablet));
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {
    .skills_boxes {
        flex-direction: row;
    }

    .skill_box {
        width: 30%;
        margin: 0 5px;
        padding: 5px;
    }

    .skills_others, .skills_heading2 {
        display: block;
    }

    .skills_others_boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .skill_other_box {
        background-color: var(--cardMediumColor);
        /* border: 2px solid var(--complColor); */
        border: none;
        color: var(--textColor);
        flex: 1;
        margin: 0 5px;
        padding: 5px;
    }

    .skill_other_text {
        display: inline-block;
    }

    .skills_heading2, .skills_others h3 {
        color: var(--textColor);
        margin: 30px 0 10px 0;
    }

    .skill_box p:nth-child(n+2) {
        font-size: calc(1rem * var(--fontFactor_Tablet));
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Adding background color */
    /* #skills {
        background-color: darkkhaki;
    } */

    .skills_heading2 {
        color: var(--textColor);
        margin: 0;
        padding: 15px 0 5px 0;
        font-size: calc(1.75rem * var(--fontFactor_SmallDesktop) * 0.9) !important;
    }

    .skills_others h3 {
        color: var(--textColor);
        margin: 0;
        padding: 20px 0 5px 0;
        font-size: calc(1.75rem * var(--fontFactor_SmallDesktop) * 0.9) !important;
    }

    .skills_boxes {
        flex-direction: row;
    }

    .skill_box {
        width: 30%;
        margin: 0 10px;
        padding: 5px;
        border: none;
    }

    .skill_info1, .skill_info2 {
        display: none;
    }

    .skill_detail1, .skill_detail2, .skills_others, .skills_heading2 {
        display: block;
    }

    .skill_name, .skill_other_name {
        font-size: calc(1rem * var(--fontFactor_SmallDesktop) * 1.25) !important;
        font-weight: bold;
    }

    .skills_others_boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        width: 75%;
        margin: 0 auto;
    }

    .skill_other_box {
        background-color: var(--cardMediumColor);
        /* border: 2px solid var(--complColor); */
        border: none;
        color: var(--textColor);
        flex: 1;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_other_text {
        display: inline-block;
    }

    .skill_box p:nth-child(n+2), .skill_other_box p:nth-child(n+2) {
        font-size: calc(1rem * var(--fontFactor_SmallDesktop) * 1.1);
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Adding background color */
    /* #skills {
        background-color: darkkhaki;
    } */

    .skills_heading2 {
        color: var(--textColor);
        margin: 0;
        padding: 0 0 10px 0;
        font-size: calc(1.75rem * var(--fontFactor_SmallDesktop) * 0.9) !important;
    }

    .skills_others h3 {
        color: var(--textColor);
        margin: 0;
        padding: 50px 0 10px 0;
        font-size: calc(1.75rem * var(--fontFactor_SmallDesktop) * 0.9) !important;
    }

    .skills_boxes {
        flex-direction: row;
    }

    .skill_box {
        width: 30%;
        margin: 0 10px;
        padding: 5px;
        border: none;
    }

    .skill_name, .skill_other_name {
        font-size: calc(1rem * var(--fontFactor_Desktop) * 1.25) !important;
        font-weight: bold;
    }

    .skill_info1, .skill_info2 {
        display: none;
    }

    .skill_detail1, .skill_detail2, .skills_others, .skills_heading2 {
        display: block;
    }

    .skills_others_boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        width: 75%;
        margin: 0 auto;
    }

    .skill_other_box {
        background-color: var(--cardMediumColor);
        /* border: 2px solid var(--complColor); */
        border: none;
        color: var(--textColor);
        flex: 1;
        margin: 0 10px;
        padding: 5px;
    }

    .skill_other_text {
        display: inline-block;
    }

    .skill_box p:nth-child(n+2) {
        font-size: calc(1rem * var(--fontFactor_Desktop));
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    .skills_boxes {
        flex-direction: row;
    }

    .skill_box {
        width: 30%;
        margin: 0 10px;
        padding: 5px;
        border: none;
    }

    .skill_box p:nth-child(n+2) {
        font-size: calc(1rem * var(--fontFactor_RotMobile) * 1);
    }

    .skills_heading2, .skills_others h3 {
        color: var(--textColor);
    }
}

































/* achievements.css */

#achievements_content {
    width: 100%;
}

.achievements_info h3 {
    color: var(--textColor);
    margin: 0;
    padding: 0 0 5px 0;
    font-size: calc(1.75rem * var(--fontFactor_Mobile) * 0.9);
}

.achievements_boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.achievement_box {
    background-color: var(--cardMediumColor);
    color: var(--textColor);
    margin: 5px auto;
    width: 100%;
}

.achievement_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.achievement_title {
    width: 25%;
    color: var(--complColor);
    font-size: calc(1.25rem * var(--fontFactor_Mobile) * 0.8) !important;
}

.achievement_name {
    width: 60%;
    font-weight: bold;
}

.achievement_image {
    display: none;
}

.achievement_name {
    padding: 0 5px;
    margin: 10px 0;
    font-size: calc(1.5rem * var(--fontFactor_Mobile) * 0.8) !important;
}

.achievement_title, .achievement_button {
    margin: 0 10px;
}

.achievement_button {
    width: 15%;
}

.achievement_button p {
    padding: 3px;
    font-size: 0.6rem;
    background-color: var(--buttonColor);
    border: 1px solid var(--bgColor);
    border-radius: 5px;
    font-weight: bold;
}

.achievement_button {
    text-decoration: none;
    color: black;
}

.achievement_buttons, .achievement_button2 {
    display: none;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    .achievements_info h3 {
        font-size: calc(1.75rem * var(--fontFactor_SmallMobile) * 0.75);
        padding: 0 0 10px 0;
    }

    .achievement_name {
        font-size: calc(1.5rem * var(--fontFactor_SmallMobile) * 0.8) !important;
    }
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {
    .achievements_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .achievement_box {
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
        margin: 5px auto;
        border: 1px solid var(--complColor);
    }

    .achievement_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex: 1;
    }

    .achievement_image {
        display: block;
        flex: 1;
    }

    .achievement_image img {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }

    .achievement_name {
        padding: 0;
        margin: 0;
        font-size: calc(1.5rem * var(--fontFactor_RotTablet) * 0.8) !important;
    }
    
    .achievement_title, .achievement_button {
        padding: 2px 5px;
        margin: 0;
    }

    .achievement_title, .achievement_name, .achievement_buttons {
        width: 100% !important;
    }

    .achievement_button {
        display: none;
    }

    .achievement_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .achievement_button2 {
        display: inline-block;
        margin: 5px auto;
    }
    
    .achievement_button2 {
        background-color: var(--buttonColor);
        text-decoration: none;
        color: black;
        border: 1px solid var(--bgColor);
        border-radius: 5px;
    }

    .achievement_button2 p {
        padding: 3px;
        margin: 0;
        font-weight: bold;
    }

    .achievements_info h3 {
        font-size: calc(1.75rem * var(--fontFactor_RotTablet));
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {
    .achievements_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .achievement_box {
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
        margin: 10px auto;
        padding: 5px;
        border: 1px solid var(--complColor);
    }

    .achievement_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex: 1;
    }

    .achievement_image {
        display: block;
        flex: 1;
    }

    .achievement_image img {
        width: 100%;
        height: auto;
    }

    .achievement_name {
        padding: 5px 5px;
        margin: 0 0 5px 0;
        font-size: calc(1.5rem * var(--fontFactor_Tablet) * 0.75) !important;
    }

    .achievement_title {
        font-size: calc(1.25rem * var(--fontFactor_Tablet) * 1) !important;
    }
    
    .achievement_title, .achievement_button {
        padding: 2px 5px;
        margin: 0;
    }

    .achievement_title, .achievement_name, .achievement_buttons {
        width: 100% !important;
    }

    .achievement_button {
        display: none;
    }

    .achievement_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .achievement_button2 {
        display: inline-block;
        margin: 5px auto;
    }
    
    .achievement_button2 {
        background-color: var(--buttonColor);
        text-decoration: none;
        color: black;
        border: 1px solid var(--bgColor);
        border-radius: 5px;
    }

    .achievement_button2 p {
        padding: 3px;
        margin: 0;
        font-weight: bold;
    }

    .achievements_info h3 {
        font-size: calc(1.75rem * var(--fontFactor_Tablet));
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Adding background color */
    /* #achievements    {
        background-color: goldenrod;
    } */

    #achievements .page_content .page_title h1 {
        margin: 0;
        padding: 0 0 10px 0;
    }

    .achievements_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .achievement_box {
        /* border: 1px solid var(--complColor); */
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
        margin: 10px auto;
    }

    .achievement_title {
        font-size: calc(1.25rem * var(--fontFactor_Mobile) * 1.25) !important;
    }

    .achievement_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex: 1;
    }

    .achievement_image {
        display: block;
        flex: 1;
    }

    .achievement_image img {
        width: 75%;
        height: auto;
        margin: auto;
    }

    .achievement_name {
        padding: 5px 5px;
        margin: 0;
        font-size: calc(1.5rem * var(--fontFactor_SmallDesktop)) !important;
    }

    .achievement_title, .achievement_name, .achievement_buttons {
        width: 100% !important;
    }
    
    .achievement_title, .achievement_button {
        padding: 2px 5px;
        margin: 0;
    }

    .achievement_button {
        display: none;
    }

    .achievement_buttons {
        display: flex;
        flex-direction: row;
        width: 70% !important;
        justify-content: center;
        align-items: center;
    }

    .achievement_button2 {
        display: inline-block;
        margin: 5px auto;
    }
    
    .achievement_button2 {
        background-color: var(--buttonColor);
        text-decoration: none;
        color: black;
        border: 1px solid var(--bgColor);
        border-radius: 5px;
    }

    .achievement_button2 p {
        padding: 5px;
        margin: 0;
        font-weight: bold;
    }

    .achievements_info h3 {
        font-size: calc(1.75rem * var(--fontFactor_SmallDesktop));
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Adding background color */
    /* #achievements    {
        background-color: goldenrod;
    } */

    .achievements_info h3 {
        padding: 0 0 10px 0;
    }

    .achievements_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .achievement_box {
        border: 1px solid var(--complColor);
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
        margin: 10px auto;
    }

    .achievement_title {
        font-size: calc(1.25rem * var(--fontFactor_Mobile) * 1.25) !important;
    }

    .achievement_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex: 1;
    }

    .achievement_image {
        display: block;
        flex: 1;
    }

    .achievement_image img {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .achievement_name {
        padding: 5px 5px;
        margin: 0;
        font-size: calc(1.5rem * var(--fontFactor_Desktop)) !important;
    }

    .achievement_title, .achievement_name, .achievement_buttons {
        width: 100% !important;
    }
    
    .achievement_title, .achievement_button {
        padding: 2px 5px;
        margin: 0;
    }

    .achievement_button {
        display: none;
    }

    .achievement_buttons {
        display: flex;
        flex-direction: row;
        width: 70% !important;
        justify-content: center;
        align-items: center;
    }

    .achievement_button2 {
        display: inline-block;
        margin: 5px auto;
    }
    
    .achievement_button2 {
        background-color: var(--buttonColor);
        text-decoration: none;
        color: black;
        border: 1px solid var(--bgColor);
        border-radius: 5px;
    }

    .achievement_button2 p {
        padding: 5px;
        margin: 0;
        font-weight: bold;
    }

    .achievements_info h3 {
        font-size: calc(1.75rem * var(--fontFactor_Desktop));
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    #achievements {
        width: 60%;
    }

    .achievement_box {
        margin: 3px auto;
    }

    .achievement_title, .achievement_button {
        margin: 0 5px;
    }
    
    .achievement_button p {
        width: 75%;
        padding: 2px 0;
        font-weight: bold;
        font-size: calc(1rem * var(--fontFactor_RotMobile) * 0.65) !important;
    }

    .achievement_name {
        margin: 5px auto;
        font-size: calc(1.5rem * var(--fontFactor_RotMobile) * 0.5) !important;
    }

    .achievements_info h3 {
        font-size: calc(1.75rem * var(--fontFactor_RotMobile) * 0.6) !important;
    }

    .achievement_title {
        font-size: calc(1.25rem * var(--fontFactor_RotMobile) * 0.6) !important;
    }
}





































/* projects.css */

#projects_content {
    width: 100%;
}

.projects_info > h5 {
    color: var(--textColor);
    margin: 0;
    padding: 10px 5px;
}

.projects_boxes {
    display: flex;
    flex-direction: column;
}

.project_box {
    background-color: var(--cardMediumColor);
    color: var(--textColor);
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    padding: 10px 0;
}

.project_box_info {
    width: 80%;
}

.project_image {
    display: none;
}

.project_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.project_title {
    margin: 0 5px;
    font-weight: bolder;
    width: 40%;
    color: var(--complColor);
    font-size: calc(1.25rem * var(--fontFactor_Mobile) * 0.75) !important;
}

.project_descr {
    margin: 0 5px;
    width: 60%;
    font-size: calc(1rem * var(--fontFactor_Mobile) * 0.9) !important;
}

.project_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 20%;
}

.project_button {
    text-decoration: none;
    color: black;
    padding: 0px;
    margin: 0 10% 0 0;
}

.project_button p {
    background-color: var(--buttonColor);
    border: 1px solid var(--bgColor);
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    font-weight: bold;
}

.project_extra_button {
    display: none;
}

.project_box:nth-of-type(5), .project_box:nth-of-type(6) {
    display: none;
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
    .project_title {
        font-size: calc(1.25rem * var(--fontFactor_SmallMobile) * 0.75) !important;
    }

    .project_descr {
        font-size: calc(1rem * var(--fontFactor_SmallMobile) * 0.8) !important;
    }

    .project_box {
        margin: 5px 0;
    }
    .project_button p {
        font-size: calc(1rem * var(--fontFactor_SmallMobile) * 0.8) !important;
    }
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {

    .projects_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        width: 90%;
        margin: 0 auto;
    }

    .project_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px 20px;
        flex: 1;
        min-width: 40%;
        padding: 10px;
        border: 1px solid var(--complColor);
    }

    .project_box_info {
        display: flex;
        flex-direction: row;
        width: 100% !important;
    }

    .project_title {
        width: 100% !important;
        font-size: calc(1.25rem * var(--fontFactor_RotTablet)) !important;
        margin: 0 0 5px 0;
    }

    .project_descr {
        width: 100% !important;
        font-size: calc(1rem * var(--fontFactor_RotTablet) * 0.9) !important;
    }

    .project_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100% !important;
        margin-top: 10px;
    }

    .project_button {
        margin: 0 10px;
    }

    .project_image {
        display: block;
        flex: 1;
    }

    .project_image img {
        width: 80%;
        height: auto;
        margin: auto 0;
        border: 1px solid var(--textColor);
    }

    .project_text {
        display: inline-block;
        width: 100%;
        flex: 1;
        margin: auto 0;
        padding: 0 5px;
    }

    .project_extra_button {
        text-decoration: none;
        color: black;
        display: block;
        margin: 0 10px;
        padding: 0px;
    }
    
    .project_extra_button p {
        background-color: var(--buttonColor);
        border: 1px solid var(--bgColor);
        border-radius: 5px;
        padding: 5px;
        margin: 0;
        font-weight: bold;
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {

    .projects_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project_box {
        flex-direction: column;
        margin: 10px 10px;
        flex: 1;
        min-width: 40%;
        border: 1px solid var(--complColor);
        padding: 5px;
    }

    .project_box_info {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    .project_title {
        width: 100% !important;
        height: 50% !important;
        font-size: calc(1.25rem * var(--fontFactor_Tablet) * 0.9) !important;
    }

    .project_descr {
        width: 100% !important;
        height: 50% !important;
        font-size: calc(1rem * var(--fontFactor_Tablet) * 0.9) !important;
    }

    .project_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100% !important;
        margin-top: 15px;
    }

    .project_button {
        margin: 0 10px;
    }

    .project_image {
        display: block;
        flex: 1;
    }

    .project_image img {
        width: 75%;
        height: auto;
        margin: 5px auto;
        border: 1px solid var(--textColor);
    }

    .project_text {
        display: inline-block;
        width: 100%;
        flex: 1;
    }

    .project_button {
        padding: 0px;
        margin: 0 10px;
    }

    .project_extra_button {
        display: block;
        text-decoration: none;
        color: black;
        padding: 0px;
        margin: 0 10px;
    }

    .project_button p {
        padding: 3px;
        margin: 0;
        font-size: calc(1rem * var(--fontFactor_Tablet) * 0.85) !important;
    }
    
    .project_extra_button p {
        background-color: var(--buttonColor);
        border: 1px solid var(--bgColor);
        border-radius: 5px;
        padding: 3px;
        margin: 0;
        font-weight: bold;
        font-size: calc(1rem * var(--fontFactor_Tablet) * 0.85) !important;
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Adding background color */
    /* #projects {
        background-color: lightcoral;
    } */

    .projects_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        width: 90%;
        margin: 0 auto;
    }

    .project_box, .project_box:nth-of-type(5), .project_box:nth-of-type(6) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 10px 20px;
        flex: 1;
        min-width: 40%;
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 0 30px 0 30px;
    }

    .project_box_info {
        display: flex;
        flex-direction: row;
        width: 100% !important;
    }

    .project_title {
        width: 100% !important;
        font-size: calc(1.25rem * var(--fontFactor_SmallDesktop)) !important;
    }

    .project_descr {
        width: 100% !important;
        font-size: calc(1rem * var(--fontFactor_SmallDesktop)) !important;
    }

    .project_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 75% !important;
        margin-top: 10px;
    }

    .project_button {
        margin: 0 10px;
    }

    .project_image {
        display: block;
        flex: 1;
    }

    .project_image img {
        width: 100%;
        height: auto;
        margin: auto 0;
    }

    .project_text {
        display: inline-block;
        width: 100%;
        flex: 1;
        margin: auto 0;
        padding: 0 5px;
    }

    .project_extra_button {
        text-decoration: none;
        color: black;
        display: block;
        margin: 0 10px;
        padding: 0px;
    }
    
    .project_extra_button p {
        background-color: var(--buttonColor);
        border: 1px solid var(--bgColor);
        border-radius: 5px;
        padding: 5px;
        margin: 0;
        font-weight: bold;
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Adding background color */
    /* #projects {
        background-color: lightcoral;
    } */

    .projects_boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        width: 90%;
        margin: 0 auto;
    }

    .project_box, .project_box:nth-of-type(5), .project_box:nth-of-type(6) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px 10px;
        flex: 1;
        min-width: 45%;
        padding: 10px;
        border: 1px solid var(--complColor);
    }

    .project_box_info {
        display: flex;
        flex-direction: row;
        width: 100% !important;
    }

    .project_title {
        width: 100% !important;
        font-size: calc(1.25rem * var(--fontFactor_Desktop)) !important;
    }

    .project_descr {
        width: 100% !important;
        font-size: calc(1rem * var(--fontFactor_Desktop)) !important;
    }

    .project_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100% !important;
        margin-top: 10px;
    }

    .project_button {
        margin: 0 10px;
    }

    .project_image {
        display: block;
        flex: 1;
    }

    .project_image img {
        width: 100%;
        height: auto;
        margin: auto 0;
        border: 1px solid var(--textColor);
    }

    .project_text {
        display: inline-block;
        width: 100%;
        flex: 1;
        margin: auto 0;
        padding: 0 5px;
    }

    .project_extra_button {
        text-decoration: none;
        color: black;
        display: block;
        margin: 0 10px;
        padding: 0px;
    }
    
    .project_extra_button p {
        background-color: var(--buttonColor);
        border: 1px solid var(--bgColor);
        border-radius: 5px;
        padding: 5px;
        margin: 0;
        font-weight: bold;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    #projects {
        width: 75%;
    }

    .projects_info > h5 {
        display: none;
    }

    .project_box_info {
        width: 90%;
    }

    .project_buttons {
        width: 10%;
    }

    .project_text {
        justify-content: space-between;
    }

    .project_box {
        margin: 3px 0;
        padding: 5px;
    }

    .project_button p {
        padding: 3px;
        font-size: calc(1rem * var(--fontFactor_RotMobile) * 0.7);
    }

    .project_title {
        font-size: calc(1.25rem * var(--fontFactor_RotMobile) * 0.65) !important;
    }

    .project_descr {
        font-size: calc(1rem * var(--fontFactor_RotMobile) * 0.7) !important;
    }
}































/* contacts.css */

.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
}

.contact_info h3 {
    color: var(--complColor);
}

.contact_residence {
    margin-top: 50px;
}

.contact_residence h3, .contact_residence h5 {
    margin: 5px;
}

.contact_residence_link {
    text-decoration: none;
    color: var(--textColor);
}

.contact_boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact_mail {
    margin-top: 50px;
}

.contact_mail_link {
    text-decoration: none;
    color: var(--textColor);
}

.contact_mail h3, .contact_mail h5 {
    margin: 5px;
}

.contact_boxes_heading {
    margin-top: 75px;
}

.contact_box_link {
    flex: 1;
    margin: 0 10px;
}

.contact_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_image img {
    width: 100%;
    height: auto;
    margin: auto;
}

.contact_image {
    flex: 1;
}

.contact_name {
    flex: 1;
}

.contact_box_link {
    text-decoration: none;
    color: var(--textColor);
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {
    .contact_image img {
        width: 30%;
        height: auto;
        margin: 0 auto;
    }

    .contact_residence {
        margin-top: 25px;
    }

    .contact_mail {
        margin-top: 25px;
    }

    .contact_boxes_heading {
        margin-top: 35px;
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {
    .contact_image img {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Adding background color */
    /* #contact {
        background-color:lemonchiffon;
    } */

    .contact_image img {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Adding background color */
    /* #contact {
        background-color:lemonchiffon;
    } */

    .contact_image img {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
    #contact {
        width: 75%;
    }
    
    .contact_residence {
        margin-top: 0px;
    }

    .contact_mail {
        margin-top: 3px;
    }

    .contact_boxes_heading {
        margin-top: 10px;
    }

    .contact_image img {
        width: 30%;
        height: auto;
        margin: 0 auto;
    }

    .contact_info h3 {
        font-size: calc(1.75rem * var(--fontFactor_RotMobile) * 0.75);
    }

    .contact_info h5 {
        font-size: calc(1.25rem * var(--fontFactor_RotMobile) * 0.75);
    }
}



























/* footer.css */

#footer {
    height: 10vh;
    content: ' ';
}

/* Small Mobile */
@media screen and (max-width: 374px) and (min-height: 500px) {
}

/* Rotated Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 500px) and (max-height: 899px) {
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1199px) and (min-height: 900px) {
}

/* Small Desktop */
@media screen and (min-width:1200px) and (max-width:1899px) {
    /* Disabling footer because no extra space is required at the bottom */
    #footer {
        height: 0;
        content: '';
    }
}

/* Desktop */
@media screen and (min-width:1900px) {
    /* Disabling footer because no extra space is required at the bottom */
    #footer {
        height: 0;
        content: '';
    }
}

/* Rotated mobile */
@media screen and (max-height: 499px) and (max-width: 1199px) {
}





































